 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

 :root {
     --font-family: "Roboto" sans-serif;

 }

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 html {
     font-size: 62.5%;
 }

 body {
     font-family: "Roboto", sans-serif;
     background-color: #212529;
     height: 100vh;
 }




 .tribute-page {
     display: flex;
     height: inherit;
 }

 .section-timeline .spacial-h2 {
     font-size: 2.8rem;
     text-align: center;
 }

 .tribute-img {
     display: flex;
     /* text-align: center; */
     align-items: center;
     flex-direction: column;
     gap: 1rem;
 }

 .tribute-img label {
     font-size: 1.4rem;
     font-weight: 700;
     color: #141414;

 }

 img {
     width: 350px;
     height: 350px;
     border-radius: 400px;
     box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
 }

 .about-tribute {
     display: flex;
     align-items: center;
     gap: 3rem;
     background-color: #f1f3f5;
     padding-left: 3rem;
     margin: 18rem 2rem;
     /* align-items: center; */
 }

 .tribute-discription p {
     font-size: 1.6rem;
     line-height: 1.6;
     padding-right: 10rem;
     margin-bottom: 3rem;

 }

 .tribute-discription a {
     background-color: #1c7ed6;
     padding: 15px 39px;
     border: 2px solid #1c7ed6;
     text-decoration: none;
     font-size: 1.6rem;
     font-weight: 600;
     color: #fff;
     border-radius: 4px;
 }

 /* .tribute-discription a:link, */
 .tribute-discription a:hover {
     background-color: #4598e1;
 }

 h1 {
     font-size: 3.6rem;
     margin-bottom: 2rem;
 }

 .section-timeline {
     /* padding: 5rem 3rem; */
     width: 1600px;
     overflow-y: scroll;
     scroll-behavior: auto;
     scroll-snap-type: proximity;
     /* background-color: rebeccapurple; */
     position: relative;
     padding-top: 5rem;
     padding: 2rem;

 }



 .timeline-content::before {
     height: 145%;
     width: 10px;
     content: " ";
     position: absolute;

     background-color: aqua;


 }


 .section-timeline .spacial-h2 {
     font-size: 3rem;
     letter-spacing: 2px;
     text-align: center;
     color: #fff;
     margin-bottom: 3rem;
 }

 .timeline-content {
     display: flex;
     flex-direction: column;
     gap: 5rem;
     padding-bottom: 3rem;
     margin-left: 5rem;
 }

 .timeline-content::before {
     height: 152%;
     width: 10px;
     content: " ";
     position: absolute;
     top: 0;
     left: 18px;

     background-color: #1c7ed6;
     margin-top: 10rem;


 }

 .timeline-for {
     display: flex;
     align-items: center;
     gap: 4rem;
     /* margin-bottom: 5rem; */
 }

 .timeline-for::before {
     content: "";
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background-color: #1c7ed6;
     position: absolute;
     /* top: 0; */
     left: 12px;
     box-shadow: 0 0 0px 8px rgba(200, 200, 200, 0.5);

 }

 .timeline-for h2 {
     font-size: 2rem;
     color: #fff;
 }

 .timeline-for p {
     font-size: 1.4rem;
     line-height: 1.5;
     color: #a4a3a3;
     /* width: 18rem; */

 }

 .top {}


 .footer {
     /* background-color: transparent; */
     width: 500px;
     height: 8rem;
     font-size: 1.6rem;
     text-align: center;
     color: #a5a3a3;
     padding-top: 2rem;
     overflow: hidden;
     /* margin-left: 4000px; */
     margin: 0 auto;
     /* display: none; */
 }

 @media screen and (max-width: 1050px) {
     .tribute-page {
         flex-direction: column;
         gap: 0;

     }

     .section-timeline {
         width: inherit;
         overflow: visible;
     }

     .timeline-content::before {
         height: 85%;
     }

     .about-tribute {
         margin: 0;
         flex-direction: column;
         padding: 4rem
     }

     label {
         display: none;
     }



     .tribute-discription {
         display: flex;
         flex-direction: column;
         align-items: center;
         margin-left: 3rem;
     }

     .footer {
         display: block;
         margin-top: 90%;
     }
 }

 @media screen and (max-width: 1000px) {
     .footer {
         margin-top: 90%;
     }
 }

 @media screen and (max-width: 800px) {
     .footer {
         display: none;
     }
 }